	/* Generic */

.bold {
 font-weight: 900;
}

hr {
 color: maroon;
}

	/* General */

* { 
 font-family:'Raleway', Helvetica, Ariel, sans-serif;
 margin: 0;
}

html, body {
 height: 100%;
}

body {

}

img {  
 height: auto;  
 max-width: 100%; 
 border: 0; 
 padding: 0;
 margin: 0;
}

article {
margin: 30px 0px 40px 0px;
}

hr {
 color: maroon;
 width: 100%;
}

	/* main containers */

#contentwrap {
 padding-bottom: 100px;
}

#resume {
 margin: 0 auto;
 width: 70%;
}

#contact {
 text-align: center;
}


	/* link styling */

a:link,
a:visited {
 text-decoration: none;
 color: maroon;
}

a:hover,
a:active {
 text-decoration: underline;
 color: black;
}

	/* headings */

h1 {
 font-size: 4.9em;
 font-weight: 500;
 line-height: 0.9;
 margin: 20px auto 0px auto;
}

.smallh1 {
 font-size: 0.5em;
}

h2 {
 font-size: 1.5em;
 display: inline-block;
 margin: 20px auto 0px auto;
}

h3 {
 font-size: 2em;
  margin: 20px auto 0px auto;
}

h4 {
 margin: 20px auto 0px auto;
}

p.date {
 font-size: 0.9em;
 font-style: italic;
}

section p {
 font-size: 130%;
}


	/* footer */

.mainfooter {
 border-style: solid; 
 border-width: 46px 0px 0px; 
 -moz-border-image: url("../_img/blacklace.png") 46 1 0 0 repeat; 
 -webkit-border-image: url("../_img/blacklace.png") 46 1 0 0 repeat; 
 -o-border-image: url("../_img/blacklace.png") 46 1 0 0 repeat; 
 border-image: url("../_img/blacklace.png") 46 1 0 0 fill repeat;
 background-clip: padding-box;
 background-color: black;
 text-align: center;
 color: #ffffff;
/* height: 6em; */
 height: auto !important;
 position: relative;
 left:0;
 bottom:0;
 width: 100%;
}

.mainfooter a:link,
.mainfooter a:visited {
 text-decoration: none;
 color: pink;
}

.mainfooter a:hover,
.mainfooter a:active {
 text-decoration: none;
 color: white;
}



	/* Icons */

@font-face {
	
font-family: 'icomoon';
	src:
url('../_fonts/icomoon.eot?-1dqcdv'); src:
url('../_fonts/icomoon.eot?#iefix-1dqcdv') format('embedded-opentype'),	
url('../_fonts/icomoon.woff?-1dqcdv') format('woff'),	
url('../_fonts/icomoon.ttf?-1dqcdv') format('truetype'),	
url('../_fonts/icomoon.svg?-1dqcdv#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
	
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
 content: "\ea89";
}

.icon-github:before {
 content: "\eab1";
}

.icon-linkedin:before {
 content: "\eac8";
}

.icon-stackoverflow:before {
 content: "\eacf";
}

.footicon {
 font-size: 200%;
}

.icon {
 line-height: 1.4em;
 margin: 100px 0px 0px 0px;
 font-size: 150%;
}



	/* media queries */

@media screen and (max-width: 1200px) {

}

@media only screen 
and (max-width : 1000px) {

 
}

@media screen and (max-width: 850px) {

h1 {
 font-size: 3.5em;
}

#resume {
 width: 80%;
}

}

@media screen and (max-width: 600px) {

h1 {
 font-size: 2.5em;
 line-height: 1;
 margin: 25px 0px 0px 0px;
}

h2 {
 font-size: 1.5em;
 font-weight: 200;
 margin: 10px 0px 0px 0px;
}

#resume {
 width: 90%;
}

}

@media screen and (max-width: 400px) {
#resume {
 width: 95%;
}
}

@media screen and (max-width: 200px) {

}














