/* 
Table of contents:
 Generic
 General
 General link styling
 Main containers


Order by: 
 background
 border 
 font
 height 
 position
 z-index
 margin
 padding

#ffe6a1 - Orange
#c7fce4 - Turquois
#e0c0fa - Lavender
#b4e2fa - Light Blue
#b8b6fc - Purple-Blue
*/

	/* Generic */

.bold {
 font-weight: 700;
}

hr {
 background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
 border: 0; 
 height: 1px; 
 margin: 20px 0px 10px 0px;
}

	/* General */

* { 
 font-family:'Lato', Helvetica, Ariel, sans-serif;
 margin: 0;
}

html, body {
 height: 100%;
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
 background-color: #FAFAFA;
}

img {  
 height: auto;  
 max-width: 100%; 
 border: 0; 
 padding: 0;
 margin: 0;
}

article {
margin: 30px 0px 40px 0px;
}


	/* general link styling */
a:link,
a:visited {
 text-decoration: none;
 color: maroon;
}

a:hover,
a:active {
 color: black;
}

a:link {
 -webkit-transition: all 0.4s ease-in-out;
 -moz-transition: all 0.4s ease-in-out;
 -ms-transition: all 0.4s ease-in-out;
 -o-transition: all 0.4s ease-in-out;
 transition: all 0.4s ease-in-out;
}

	/* headings */

.header-logo {
 display: none;
}

header {
 text-align: center;
 width: 100%;
}

header img {
 width: auto;
 overflow: auto;
 margin: 10px auto 20px auto;
 padding: 0;
}

header h1 {
 color: #6B6B6B;
 font-size: 6em;
 font-weight: 300;
 line-height: 0.9;
 margin: 35px auto 0px auto;
 padding: 15px 0px 15px 0px;
 width: 90%;
}

header h1 strong {
 color: #61b3ff;
 font-weight: 400;
 background: transparent;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
header h1 strong {
background: transparent;
/* background: linear-gradient(#878787, #8FFFD8); */
-webkit-background-clip: text !important;
-webkit-text-fill-color: transparent;
margin-bottom: 0;
}
}


.content {
 background-color: rgba(255, 255, 255, 0.5);
 text-align: center;
 width: 100%;
 margin: 50px auto 20px auto;
 padding: 10px 0px 40px 0px;
}

h2 {
 font-size: 3em;
 font-weight: 300;
 display: inline-block;
}

.whitespace article p {
 font-size: 130%;
}

#contentwrap {
 height: auto !important;
 position: relative;
 min-height: 100%;
 width: 100%;
 margin: 0 auto -6em auto; /* the bottom margin is the negative value of the footer's height */
}

#push {
 clear:both;
 height: 6em; /* same height as footer */
}

	/* footer */

.mainfooter {
 border-style: solid; 
 border-width: 46px 0px 0px; 
 -moz-border-image: url("../_img/whitelace.png") 46 1 0 0 repeat; 
 -webkit-border-image: url("../_img/whitelace.png") 46 1 0 0 repeat; 
 -o-border-image: url("../_img/whitelace.png") 46 1 0 0 repeat; 
 border-image: url("../_img/whitelace.png") 46 1 0 0 fill repeat;
 background-clip: padding-box;
 background-color: white;
 text-align: center;
 color: white;
/* height: 6em; */
 height: auto !important;
 position: relative;
 left:0;
 bottom:0;
 width: 100%;
}

.mainfooter a:link,
.mainfooter a:visited {
 text-decoration: none;
 color: pink;
}

.mainfooter a:hover,
.mainfooter a:active {
 text-decoration: none;
 color: white;
}


	/* navigation */

#navi {
 list-style: none;
 text-align: center;
 position: relative;
 top: 0;
 width: 100%;
 display: block;
 margin: 0 auto;
 padding: 0;
}

#navi ul {
 background-color: white;
 margin: 0 auto;
 padding: 0;
}

#navi ul li {
 display: inline-block;
 position: relative;
 margin: 0px;
 padding: 0px;
}

/* hide mobile menu */
#navi #toggle, #navi #hideMenu {
 display: none;
}

#navi ul li a:link,
#navi ul li a:visited {
 font-weight: 300;
 font-size: 2em;
 text-decoration: none;
 color: black;
 display:inline-block;
 width: 4.2em;
 padding: 8px 20px 15px 20px;
}

#navi ul li a:hover,
#navi ul li a:active {
 color: #8DC9FF;
 display:inline-block;
}


	/* Icons */

@font-face {
	
font-family: 'icomoon';
	src:
url('../_fonts/icomoon.eot?-1dqcdv'); src:
url('../_fonts/icomoon.eot?#iefix-1dqcdv') format('embedded-opentype'),	
url('../_fonts/icomoon.woff?-1dqcdv') format('woff'),	
url('../_fonts/icomoon.ttf?-1dqcdv') format('truetype'),	
url('../_fonts/icomoon.svg?-1dqcdv#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
	
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
 content: "\ea89";
}

.icon-github:before {
 content: "\eab1";
}

.icon-linkedin:before {
 content: "\eac8";
}

.icon-stackoverflow:before {
 content: "\eacf";
}

/* for large gplus icon */
.largeicon {
 font-size: 0.8em;
}

.footicon {
 font-size: 200%;
}

/* for small contact icons */
.smallicon {
 font-size: 90%;
}

	/* image animation */

.fadeIn {
 border:0;
 opacity:0;
 -webkit-animation:fadeIn ease-in 1;
 -moz-animation:fadeIn ease-in 1;
 -o-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 -webkit-animation-fill-mode:forwards;
 -moz-animation-fill-mode:forwards;
 -o-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
}

.fadeIn-1s {
 -webkit-animation-duration:3s;
 -moz-animation-duration:3s;
 -o-animation-duration:3s;
 animation-duration:3s;
}
 
.fadeIn-Delay-1s {
 -webkit-animation-delay:0s;
 -moz-animation-delay:0s;
 -o-animation-delay:0s;
 animation-delay:0s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



	/* media queries */

/* smaller background */
@media screen and (max-width: 1250px) {

}

@media only screen 
and (max-width : 1000px) {
/* remove margins */

.whitespace {
 width: 96%;
 padding: 10px 2% 30px 2%;
}
}


/* narrow, tall background */
@media screen and (max-width: 700px) {


header h1 {
 font-size: 4em;
 padding-top: 15px;
}
}


/* mobile navigation */
@media only screen and (max-width: 800px) {

.header-logo {
 display: inline;
 display: inline-block;
 height: 2.6em;
 position: absolute;
 top: 6px;
 left: 10px;
 padding: 0px;
 margin: 0px;
 z-index: 10;
}

#navi {
width: 100%;
max-width: 935px;
height: auto;
}

#navi ul {
 position: relative;
 top: 0px;
 clear: both;
 padding: 0; /* corrects centering */
 margin: 0;
}

#navi ul li {
 float: none;
 padding: 0;
 margin: 0;
 display: none;
}

#navi ul li a:link,
#navi ul li a:visited {
 border-radius: 0px;
 width: 100%;
 margin: 0;
 padding: 10px 5px 10px 5px;
}

#navi ul li a:hover,
#navi ul li a:active {
 width: 100%;
 margin: 0;
 padding: 10px 5px 10px 5px;
}

/* hide menu by default */
#navi #toggle {
 display: block;
}

#navi #toggle a, #nav #hideMenu a {
 padding: 10px 5px 10px 5px;
 z-index: 1;
}

#navi:target li {
 display: block;
}

#navi:target #toggle {
 display: none;
}

#navi:target #hideMenu {
 display: block;
 background: rgba(174, 0, 44, 0.5);
}

#navi #hideMenu>a {
 color: #fff;
}


/* toggle function - after */
#toggle>a::after, #hideMenu>a::after {
 position: absolute;
 content: "";
 right: 20px;
 top: 18px;
 height: 15px;
 width: 20px;
 border-top: 2px solid white;
 border-bottom: 2px solid white;
 z-index: 1;
}


/* toggle function - before */
#toggle>a::before, #hideMenu>a::before {
 position: absolute;
 content: "";
 right: 20px;
 top: 11px;
 height: 15px;
 width: 20px;
 border-bottom: 2px solid white;
 z-index: 1;
}

#hideMenu>a::after, #hideMenu>a::before {
 border-color: white;
}
}

/* adjust h1 size for very small screens */
@media screen and (max-width: 565px) {

header h1 {
font-size: 3em;
}
}










































